.CardsContainer {
  /* shift cards towards top */
  margin-bottom: auto;
}

.CardsContainerContent {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}