.Card.small {
  height: max(16vh,160px);
  width: max(12vh,120px);
  border-radius: 2vh;
  padding: 2vh;
  font-size: min(max(2vh,2vw,12px), 18px);
}

.Card.medium {
  height: max(16vh,220px);
  width: max(12vh,165px);
  border-radius: 2vh;
  padding: 2vh;
  font-size: min(max(2vh,2vw,12px), 20px);
}

.Card.large {
  /* About 0.625 ratio */
  height: 70vh;
  width: 44vh;
  border-radius: 5vh;
  padding: 5vh;
  font-size: 7vh;
}