.PickCards,.Vote {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PickCards h1,.Vote h1 {
  text-align: center;
  margin-block: 10px;
}

.PlayerSubmitButton {
  margin: 10px;
  font-size: 30px;
}

.Waiting {
  background-color: #fff;
  margin: 0 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 2px 10px -2px #000000;
}

.CardsContainer {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}